# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Other
*.exe
*.save

# VS files and folders
*.sdf
*.sln
*.suo
*.opensdf
*.user

ipch
BakingBad
Debug
Release